<html>
<head>
<script src="angular.js"></script>

<script>
var hero = angular.module("varma",[]);
hero.controller("mycontroller",function($scope,$http){
$scope.fname = "zero";
$scope.getdata = function(){
 $http({
  method: 'GET',
  url: "response.json"
   }).then(function successCallback(response) {
   $scope.resArry = response.data;
  }, function errorCallback(response) {
 
  });
}
});

</script>
</head>
<body ng-app="varma" ng-controller="mycontroller">
<input type="text" ng-model="fname"/>
<input type="button" ng-click="getdata()" value="submit"/>
<table ng-show="resArry.length>0">
<tr><td>Name</td><td>City</td><td>Country</td></tr>
<tr ng-repeat="jsn in resArry"><td>{{jsn.Name}}</td><td>{{jsn.City}}</td><td>{{jsn.Country}}</td></tr>
</table>
</body>

</html>